body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
    color: #fff;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 10px;
}

canvas {
    background: #000;
    border: 2px solid #fff;
}
